/* NewModifyPostForm.css */

.modify-post-container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.modify-post-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.modify-post-container form {
  display: flex;
  flex-direction: column;
}

.modify-post-container label {
  margin-top: 10px;
}

.modify-post-container input[type='text'],
.modify-post-container input[type='date'],
.modify-post-container input[type='time'],
.modify-post-container textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
}

.modify-post-container .category-buttons {
  display: flex;
  justify-content: center;
  margin: 12px;
}

.modify-post-container .category-buttons button {
  padding: 10px 20px;
  margin: 0 5px;
  border: 1px solid #ccc;
  background-color: #fff;
  cursor: pointer;
  border-radius: 3px;
}

.modify-post-container .category-buttons button.selected {
  background-color: #007bff;
  color: #fff;
  border-color: #007bff;
}

.modify-post-container .price-buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 12px;
  position: relative;
}

.modify-post-container .price-buttons {
  display: flex;
  justify-content: center;
}

.modify-post-container .price-buttons button {
  padding: 10px 20px;
  margin: 0 5px;
  border: 1px solid #ccc;
  background-color: #fff;
  cursor: pointer;
  border-radius: 3px;
}

.modify-post-container .price-buttons button.selected {
  background-color: #007bff;
  color: #fff;
  border-color: #007bff;
}

.modify-post-container label input[type='checkbox'] {
  margin: 0 10px;
}

.modify-post-container .button-container {
  display: flex;
  justify-content: center; /* 버튼을 수평 중앙으로 정렬합니다. */
  gap: 10px; /* 버튼 사이의 간격을 조정합니다. */
}

.modify-post-container .md-submit-button,
.modify-post-container .cancel-button {
  width: 25%; /* 각 버튼이 폼의 절반 너비를 가지도록 설정 */
  padding: 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.modify-post-container .md-submit-button {
  background-color: #007bff;
  color: #fff;
}

.modify-post-container .md-submit-button:hover {
  background-color: #0056b3;
}

.modify-post-container .cancel-button {
  background-color: #dc3545;
  color: #fff;
}

.modify-post-container .cancel-button:hover {
  background-color: #bd2130;
}

.modify-post-container .image-upload {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.modify-post-container .image-upload-button {
  width: 80px;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  display: inline-block;
}

.modify-post-container .image-upload-button:hover {
  background-color: #0056b3;
}

.modify-post-container .image-slider {
  position: relative;
  width: 100%;
  max-width: 600px;
  margin-top: 20px;
  margin-left: 44px;
}

.modify-post-container .image-preview-container {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  width: 100%;
}

.modify-post-container .image-preview {
  border: 1px solid;
  width: 30%;
  height: 100px;
  object-fit: cover;
  margin: 0 5px;
}

.modify-post-container .image-slider button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 24px;
  color: #007bff;
  padding: 10px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.modify-post-container .image-slider .prev-button {
  left: 0;
}

.modify-post-container .image-slider .next-button {
  right: 0;
}

.btn-price-hour {
  margin-left: 40% !important;
}

.btn-price-day {
  margin-right: 11% !important;
}

/* 스위치 토글 버튼 스타일 */
.price-proposal {
  width: 20%;
  margin-right: 8%;
}
.switch-container {
  display: flex;
  align-items: center;
}

.switch {
  position: relative;
  display: inline-block;
  width: 70px;
  height: 32px;
  margin-left: 10px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.price-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: background-color 0.4s;
  border-radius: 30px; /* 예시: 더 큰 radius */
  width: 60px; /* 예시: 더 큰 너비 */
  height: 30px; /* 예시: 더 큰 높이 */
}

.price-slider:before {
  position: absolute;
  content: '불가능';
  font-family: Arial;
  font-size: 12px; /* 예시: 더 큰 글자 크기 */
  color: #666;
  top: 50%;
  transform: translateY(-50%);
  right: 14px; /* 예시: 더 멀리 위치 */
}

input:checked + .price-slider {
  background-color: #007bff;
}

input:checked + .price-slider:before {
  content: '가능';
  color: #fff;
  right: 18px;
}
